html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{ 
    font-family: $font-family;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1800px;
    //width: 375px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: $color-secondary;

    & > * {
        padding: 0 20px;
    }
  }
  
  .title {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }
  
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
  
  .links {
    padding-top: 15px;
  }