
html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px
    font-weight: 300;
    font-family: $font-display;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 180rem;

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: $color-secondary;
}
