.btn {
    background-color: $color-primary;
    color: white;
    border-radius: $border-radius;
    border: none;
    font-family: $font-display;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    transition: all .2s;
    align-self: flex-start;
    font-weight: bold;
    //filter: brightness(80%);

    &:hover {
        background-color: $color-primary; // тут эффект можно и поставить
    }
}