@import url(//db.onlinewebfonts.com/c/4eea0b56eeb6549def65619b1957eb8d?family=Acumin+Pro);

.main-article {
    background:
                // top, transparent black, faked with gradient 
                linear-gradient(
                 rgba(0, 0, 0, 0.2), 
                 rgba(0, 0, 0, 0.2)
               ),
               // instead of filter: brightness
               url(../img/mountain.jpg);
    background-position: center; // lovely fix
               
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;

    @media only screen and (min-width: $bp-tablet) {
        padding: 8rem;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 14rem;
        flex-basis: 0;
        flex-grow: 6;
    }  
    
    @media only screen and (min-width: $bp-large-desktop) {
        padding: 17rem 24rem 17rem 32rem;
        flex-basis: 0;
        flex-grow: 6;
    }

    &__category {
        text-transform: uppercase;
        font-weight: bold;
        //font-size: 1.5rem; // 24px - 2.4rem, but in my case 24px = 1.5rem 
        font-size: 2.4rem; // fixed now

        &::after {
            content: "";
            height: 2px;
            display: block;
            background-color: #fff;
            margin-top: 4rem;
        }
    }

    &__title {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    &__text {
        font-size: 1.6rem;
        text-align: left;
        margin-bottom: 3rem;
        font-weight: 400;
    }
}

.news {
    background-color: $color-white;

    &__content {
        padding-bottom: 1rem;
    }

    padding: 0 2rem;
    @media only screen and (min-width: $bp-tablet) {
        padding: 0 8rem;
    }  
    
    @media only screen and (min-width: $bp-desktop) {
        padding: 10rem 6rem 10rem 10rem;
        flex-basis: 0;
        flex-grow: 4;
    }

    @media only screen and (min-width: $bp-tablet) {
        &__content{
            display: flex;
            flex-direction: row;
        }

        &__content > div { // to set equal width to both news-blocks  
            flex-grow: 1;
            flex-basis: 0;
        }

        &__content > div:not(:first-child){ 
            margin-left: 4rem;
        }
    }
}

.main-article-and-news {
    @media only screen and (min-width: $bp-desktop) {
        display: flex; 
    }
}

@mixin section-margin {
    margin: 0 2rem;
    @media only screen and (min-width: $bp-tablet) {
        margin: 0 8rem;
    }  
    
    @media only screen and (min-width: $bp-desktop) {
        margin: 0 14rem;
    }  
    
    @media only screen and (min-width: $bp-large-desktop) {
        margin: 0 32rem;
    } 
}

.trending {

    @include section-margin;

    @media only screen and (min-width: $bp-tablet) 
    {
        &__content > div:not(:first-child){ // nicuuu :P Первый раз осознанно применил, not
            margin-left: 4rem;
        }
    }

    &__content {
        @media only screen and (min-width: $bp-tablet) 
        {
            display: flex;
            flex-direction: row;
            //flex: wrap;
            align-items: flex-start; // just for test flex param. 
        }

        & > div:last-child
        {
            display: none; // To hide a third card on a lower resolutions

            @media only screen and (min-width: $bp-desktop) {
                display: block;
            } 
        }
    }
}

.happening-now {
    @include section-margin;

    @media only screen and (min-width: $bp-desktop) {
        flex-direction: column;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        
        @media only screen and (min-width: $bp-desktop) {
            flex-direction: row;
        } 
    }
    
    &__column-2{
        display: flex;
        flex-direction: column;

        & > div:last-child
        {
            display: none; // To hide a third card on a lower resolutions

            @media only screen and (min-width: $bp-desktop) {
                display: block;
            } 
        }

        @media only screen and (min-width: $bp-tablet) {
            flex-direction: row;

            & > div:not(:first-child){ // nicuuu :P Первый раз осознанно применил, not
                margin-left: 4rem;
            }
        }

        @media only screen and (min-width: $bp-desktop) {
            flex-direction: column;
            flex-basis: 0;
            flex-grow: 1;


            & > div{ 
                margin-left: 4rem;
            }
        }
    }

    &__column-1{
        @media only screen and (min-width: $bp-desktop) {
            flex-basis: 0;
            flex-grow: 2;
        }
    }
}

.block-head {
    display: flex;
    justify-content: space-between;
    //border: 1px solid red;

    padding: 4rem 0;

    &__title {
        //font: Bold 2.4rem/2rem Helvetica;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2rem;
        
        text-transform: uppercase;
        color: $color-black;
    }
}

.article {
    color: $color-grey-dark-2;
    position: relative;
    margin-bottom: 4rem;
    font-family: "Acumin Pro"; 

    &--trending {
        background-color: $color-white;
        border-radius: $border-radius;
        overflow: hidden; 
    }

    &--happening-now-2 {
        background-color: transparent; // #F6F8F9
    }

    &__category {
        color: $color-primary;
        text-transform: uppercase;
        //font: Bold 1.6rem/2rem Helvetica;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 2rem;

        padding-top: 4rem;

        &--trending{
            display: none;
        }

        &--happening-now-2 {
            display: none;
        }

        &--happening-now  {
            padding-top: 0px; // Don't need this. Because of absolute position
            color: $color-white;
     
            @media only screen and (min-width: $bp-tablet) {
                top: 4rem; 
                left: 4rem;
            }
        }
    }

    &__title {
        padding-top: 2rem;
        color: $color-black;
       // font: Bold 2.4rem/3.4rem Helvetica;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.4rem;

        z-index: 1;

        &--happening-now  {
            color: $color-white;
        }

        &--story {
            font-size: 1.6rem;
            font-family: "Acumin Pro"; 
        }

        @media only screen and (min-width: $bp-tablet) {
            //font-size: 24px;
        }
    }

    &__text {
        padding-top: 1rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
        z-index: 1;

        @media only screen and (min-width: $bp-tablet) {
           //width: 90%; // to have some space between two articles text
        }

        &--happening-now  {
            display: none; // we don't need text of an article in "Happening-now" section
        }

        &--happening-now-2 {
            display: none;
        }
    }

    &__image {
        width: 100%;
    
        &--happening-now {
            min-height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 50% 50%;
            border-radius: $border-radius;
        }

        &--happening-now-2 {
            border-radius: $border-radius;
        }
    }

    &__author {
        text-decoration: underline;
    }

    &__wrap {

        &--trending {
            padding: 0 2.4rem 0.4rem 2.4rem;
        }

        &--happening-now-2 {
            padding: 0;
        }

        &--happening-now {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 2.4rem;
            //padding-right: 40px; // to compensate "left 40px"
            text-align: left;

            @media only screen and (min-width: $bp-tablet) {
                padding: 4rem;
            }
        }
    }
}

.divide-line {
    height: 2px;
    background-color: $color-grey-light-1;
    width: 100%;
}

.date-time-author {
    color: $color-grey-dark-2; 
    display: flex;
    align-items: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 2.6rem;
    font-style: oblique;
    padding-top: 4px;

    &--happening-now {
        color: $color-grey-dark-1; 
    }

    &--story {
        display: none;

        @media only screen and (min-width: $bp-tablet) {
            display: block;
            padding-top: 3rem;
        }
    }

    &__icon {
        height: 1.6rem;
        width: 1.6rem;
        background-size: cover;
        margin-right: .5rem;

        // We can't change color of icon when we adding it this way. So just leave this for older browsers
        background-image: url('../img/clock.svg');

        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-grey-dark-1; 
            -webkit-mask-image: url('../img/clock.svg'); 
            mask-image: url('../img/clock.svg'); 
            -webkit-mask-size: cover; 
            mask-size: cover; 
            background-image: none;
        }
    }

    &__author {
        text-decoration: underline;
    }
}

@mixin icon-box-settings {
    height: 1.6rem;
    width: 1.6rem;
    background-size: cover;
    margin-right: .5rem;
}

@mixin support-settings {
    -webkit-mask-size: cover; // this allowed us to change height and width from 2 px to 1px and icon still visible
    mask-size: cover; // mask allow us to see background. (throught specified shape (mask-image))
    background-image: none;
}

.stories-block {
    @media only screen and (min-width: $bp-tablet) {
        padding: 8rem;
        padding-top: 6rem;
    }  
    @media only screen and (min-width: $bp-desktop) {
        display: flex;
        padding: 10rem 14rem;
    }
}

.main-story {
    // top, transparent black, faked with gradient - instead of filter: brightness
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../img/parrot.jpg);
    background-size: cover;
    background-position: center;
    padding: 14rem 2.4rem 4rem 2.4rem;

    @media only screen and (min-width: $bp-tablet) {
        padding: 11rem 4rem 4rem 4rem;
    }
    
    @media only screen and (min-width: $bp-desktop) {
        padding: 22.4rem 5rem 5rem 5rem;
    }

    &__title {
        color: $color-white;
        font-size: 5rem; // for desktop
        line-height: 6rem;  // for desktop

        font-size: 3rem;
        line-height: 4rem;
        text-align: center; 
        text-transform: uppercase;
        font-weight: bold;
    } 
    
    &__links {
        margin-top: 2rem;
        color: $color-white;
        font-size: 1.6rem;
        line-height: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: center;

        & > :first-child {
            margin-right: 4rem;
        }
    } 
    
    &__bottom-section {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media only screen and (min-width: $bp-tablet) {
            margin-top: 11rem;
        } 
    } 
}

.next-story {
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: $bp-tablet) {
        border: 2px dashed rgba($color-white, .5);
        border-radius: $border-radius;
        padding: 2rem;
        width: 28.4rem;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 3rem;
        width: 36rem;
    }    
    
    @media only screen and (min-width: $bp-large-desktop) {
        width: 44rem;
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
        align-items: center;

        @media only screen and (min-width: $bp-desktop) {
            align-items: flex-start;
        } 
    }

    &__next {
        color: $color-primary;
        font-size: 1.6rem;
        line-height: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
    }

    &__icon {
        @include icon-box-settings;
        background-image: url('../img/navigate_next.svg');
        margin-top: 2px;

        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/navigate_next.svg'); 
            mask-image: url('../img/navigate_next.svg'); 
            @include support-settings;
        }
    }

    &__title {
        display: none;
        
        @media only screen and (min-width: $bp-tablet) {
            display: inline-block;
            color: $color-white;
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: bold;
            padding-top: .5rem;
        }
    }

    &__text {
        display: none;

        @media only screen and (min-width: $bp-desktop) {
            display: inline-block;
            color: $color-white;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
    }
}

.author {
    display: flex;
    align-items: center;

    &__photo {
        border-radius: 50%;
        width: 2.8rem;
        height: 2.8rem;
        object-fit: cover;
        object-position: 50% 50%;
        border: 2px solid $color-white;

        @media only screen and (min-width: $bp-tablet) {
            width: 4rem;
            height: 4rem;
        }

        &--story {
            width: 4rem;
            height: 4rem;
            border: none;
        }
    }

    &__name {
        display: none;
        color: $color-white;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
        margin-left: 2rem;

        @media only screen and (min-width: $bp-tablet) {
          display: inline-block;
        }

        &--story {
            display: inline-block;
            color: $color-black;
            font-size: 2.4rem;
            line-height: 4.2rem;
            font-weight: bold;
            text-align: left;
           
        }
    }
}

.main-story-link-1 {
    //margin-right: 2rem;
    display: flex;
    &__icon {
        @include icon-box-settings;
        // We can't change color of icon when we adding it this way. So just leave this for older browsers
        background-image: url('../img/earth.svg');

        // for newer browsers 
        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/earth.svg'); 
            mask-image: url('../img/earth.svg'); // after 3 years mask-image, without prefix, still does not work in chrome
            @include support-settings;
        }  
    }

    &__text {
        margin-top: -2px;
    }
}

.main-story-link-2 {
    display: flex;
    &__icon {
        @include icon-box-settings;
        // We can't change color of icon when we adding it this way. So just leave this for older browsers
        background-image: url('../img/SVG/file-text2.svg');

        // for newer browsers 
        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/SVG/file-text2.svg'); 
            mask-image: url('../img/SVG/file-text2.svg'); // after 3 years mask-image, without prefix, still does not work in chrome
            @include support-settings;
        }  
    }

    &__text {
        margin-top: -2px;
    }
}

.text-only-stories {
    padding: 2.4rem;
    padding-top: 4rem;

    @media only screen and (min-width: $bp-tablet) {
        padding: 0;
        padding-bottom: 2.4rem;
        border-bottom: 2px solid $color-grey-light-1;

        @media only screen and (min-width: $bp-desktop) {
           border: none;
        }  
    }

    @media only screen and (min-width: $bp-desktop) {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        flex-grow: 1;
        border-right: 2px solid $color-grey-light-1;
        padding-right: 3rem;
    }
} 

.text-only-story {

    @media only screen and (min-width: $bp-tablet) {
        display: flex;
        align-items: flex-start;
    }  
    
    @media only screen and (min-width: $bp-desktop) {
        flex-direction: column;
    }

    &__title {
        color: $color-black;
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-family: "Acumin Pro"; 
        text-align: left;
        font-weight: bold;
    }

    &__text {
        padding: 2.4rem 0;
        color: $color-grey-dark-2;
        font-size: 1.4rem;
        line-height: 2.6rem;
        text-align: left;
        font-weight: 400;

        @media only screen and (min-width: $bp-desktop) {
            padding-bottom: 0;
        }
    }

    &__col-1-of-2 {
        @media only screen and (min-width: $bp-tablet) {
            margin-right: 4rem;
            flex-basis: 0;
            flex-grow: 1;
        }     
        @media only screen and (min-width: $bp-desktop) {
            margin-right: 0;
        }
    }

    &__col-2-of-2 {
        flex-basis: 0;
        flex-grow: 1;

        & {
            @media only screen and (min-width: $bp-desktop) {
                padding-bottom: 2.4rem;
            }
        }

        & > :first-child {
            border-bottom: 2px dashed $color-grey-light-1;
        }
    }
}

.video-story {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stories {
    padding: 2.4rem;
    padding-top: 1rem;
    background-color: #F6F8F9;
    flex-basis: 0;
    flex-grow: 2;

    @media only screen and (min-width: $bp-tablet) {
        padding: 0;
        padding-top: 2.4rem;
    }    

    @media only screen and (min-width: $bp-desktop) {
        padding: 0;
        padding-left: 4rem;
    }  
} 

.story {
    margin-bottom: 3.4rem;

    &__text {
        font-size: 1.6rem;
        line-height: 3rem;
        text-align: left;
        color: $color-black;
        font-style: oblique;
        font-weight: 400;
        margin-top: 1rem;
    }
}