.main-article {
    background:
                // top, transparent black, faked with gradient 
                linear-gradient(
                 rgba(0, 0, 0, 0.3), 
                 rgba(0, 0, 0, 0.3)
               ),
               // instead of filter: brightness
               url(../img/mountain.jpg);
    background-position: center; // lovely fix
               
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    &__category {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem; // 24px - 2.4rem, but in my case 24px = 1.5rem 

        &::after {
            content: "";
            height: 2px;
            display: block;
            background-color: #fff;
            margin-top: 40px;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    &__text {
        text-align: left;
        margin-bottom: 20px;
    }
}

.news {
    background-color: $color-white;
}

.block-head {
    display: flex;
    justify-content: space-between;
    //border: 1px solid red;

    padding: 40px 0;

    &__title {
        font: Bold 24px/20px Helvetica;
        text-transform: uppercase;
        color: $color-black;
    }
}


.news-article {
    color: $color-grey-dark-2;

    &__category {
        color: $color-primary;
        text-transform: uppercase;
        font: Bold 16px/20px Helvetica;
        padding-top: 40px;
    }

    &__title {
        padding-top: 20px;
        color: $color-black;
        font: Bold 16px/20px Helvetica;
    }

    &__text {
        padding-top: 10px;
    }
}

.divide-line {
    height: 2px;
    background-color: $color-grey-light-1;
    width: 100%;
}

.date-time {
    color: $color-grey-dark-2; 
    //border: 1px solid red;
    display: flex;
    align-items: center;
    font: Oblique 13px/26px Helvetica;
    padding-top: 4px;

    &__icon {
        height: 1rem;
        width: 1rem;
        background-size: cover;
        margin-right: .5rem;

        // We can't change color of icon when we adding it this way. So just leave this for older browsers
        background-image: url('../img/clock.svg');

        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-grey-dark-1; 
            -webkit-mask-image: url('../img/clock.svg'); 
            mask-image: url('../img/clock.svg'); 
            -webkit-mask-size: cover; 
            mask-size: cover; 
            background-image: none;
        }
    }
}

