.main-article {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/mountain.jpg");
  background-position: center; // lovely fix
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 8rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    flex-basis: 0;
    flex-grow: 6;
    padding: 14rem;
  }

  @media only screen and (min-width: $bp-large-desktop) {
    flex-basis: 0;
    flex-grow: 6;
    padding: 17rem 24rem 17rem 32rem;
  }

  &__category {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;

    &::after {
      content: "";
      background-color: #fff;
      display: block;
      height: 2px;
      margin-top: 4rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 3rem 0 2rem 0;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    text-align: left;
  }
}

.news {
  background-color: $color-white;

  &__content {
    padding-bottom: 1rem;
  }

  padding: 0 2rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 0 8rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    flex-basis: 0;
    flex-grow: 4;
    padding: 10rem 6rem 10rem 10rem;
  }

  @media only screen and (min-width: $bp-tablet) {
    &__content {
      display: flex;
      flex-direction: row;
    }

    &__content > div {
      // to set equal width to both news-blocks
      flex-grow: 1;
      flex-basis: 0;
    }

    &__content > div:not(:first-child) {
      margin-left: 4rem;
    }
  }
}

.main-article-and-news {
  @media only screen and (min-width: $bp-desktop) {
    display: flex;
  }
}

@mixin section-margin {
  margin: 0 2rem;

  @media only screen and (min-width: $bp-tablet) {
    margin: 0 8rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    margin: 0 14rem;
  }

  @media only screen and (min-width: $bp-large-desktop) {
    margin: 0 32rem;
  }
}

.trending {
  @include section-margin;

  @media only screen and (min-width: $bp-tablet) {
    &__content > div:not(:first-child) {
      margin-left: 4rem;
    }
  }

  &__content {
    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    & > div:last-child {
      display: none; // To hide a third card on a lower resolutions

      @media only screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }
}

.happening-now {
  @include section-margin;

  @media only screen and (min-width: $bp-desktop) {
    flex-direction: column;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__column-2 {
    display: flex;
    flex-direction: column;

    & > div:last-child {
      display: none; // To hide a third card on a lower resolutions

      @media only screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    @media only screen and (min-width: $bp-tablet) {
      flex-direction: row;

      & > div:not(:first-child) {
        // nicuuu :P Первый раз осознанно применил, not
        margin-left: 4rem;
      }
    }

    @media only screen and (min-width: $bp-desktop) {
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      & > div {
        margin-left: 4rem;
      }
    }
  }

  &__column-1 {
    @media only screen and (min-width: $bp-desktop) {
      flex-basis: 0;
      flex-grow: 2;
    }
  }
}

.block-head {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  &__title {
    color: $color-black;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

.article {
  color: $color-grey-dark-2;
  font-family: "Acumin Pro";
  margin-bottom: 4rem;
  position: relative;

  &--trending {
    background-color: $color-white;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &--happening-now-2 {
    background-color: transparent; // #F6F8F9
  }

  &__category {
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    padding-top: 4rem;
    text-transform: uppercase;

    &--trending {
      display: none;
    }

    &--happening-now-2 {
      display: none;
    }

    &--happening-now {
      color: $color-white;
      padding-top: 0px;

      @media only screen and (min-width: $bp-tablet) {
        left: 4rem;
        top: 4rem;
      }
    }
  }

  &__title {
    color: $color-black;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    padding-top: 2rem;
    z-index: 1;

    &--happening-now {
      color: $color-white;
    }

    &--story {
      font-size: 1.6rem;
      font-family: "Acumin Pro";
    }

    @media only screen and (min-width: $bp-tablet) {
      //font-size: 24px;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-top: 1rem;
    z-index: 1;

    @media only screen and (min-width: $bp-tablet) {
      //width: 90%; // to have some space between two articles text
    }

    &--happening-now {
      display: none; // we don't need text of an article in "Happening-now" section
    }

    &--happening-now-2 {
      display: none;
    }
  }

  &__image {
    width: 100%;

    &--happening-now {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $border-radius;
      min-height: 300px;
    }

    &--happening-now-2 {
      border-radius: $border-radius;
    }
  }

  &__author {
    text-decoration: underline;
  }

  &__wrap {
    &--trending {
      padding: 0 2.4rem 0.4rem;
    }

    &--happening-now-2 {
      padding: 0;
    }

    &--happening-now {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      left: 0;
      padding: 2.4rem;
      position: absolute;
      text-align: left;
      top: 0;

      @media only screen and (min-width: $bp-tablet) {
        padding: 4rem;
      }
    }
  }
}

.divide-line {
  background-color: $color-grey-light-1;
  height: 2px;
  width: 100%;
}

.date-time-author {
  align-items: center;
  color: $color-grey-dark-2;
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-style: oblique;
  line-height: 2.6rem;
  padding-top: 0.4rem;

  &--happening-now {
    color: $color-grey-dark-1;
  }

  &--story {
    display: none;

    @media only screen and (min-width: $bp-tablet) {
      display: block;
      padding-top: 3rem;
    }
  }

  &__icon {
    background-size: cover;
    height: 1.6rem;
    margin-right: 0.5rem;
    width: 1.6rem;

    // We can't change color of icon when we adding it this way. So just leave this for older browsers
    background-image: url("../img/svg/clock.svg");

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/clock.svg");
      -webkit-mask-size: cover;
      background-color: $color-grey-dark-1;
      background-image: none;
      mask-image: url("../img/svg/clock.svg");
      mask-size: cover;
    }
  }

  &__author {
    text-decoration: underline;
  }
}

@mixin icon-box-settings {
  background-size: cover;
  height: 1.6rem;
  margin-right: 0.5rem;
  width: 1.6rem;
}

@mixin support-settings {
  -webkit-mask-size: cover; // this allowed us to change height and width from 2 px to 1px and icon still visible
  background-image: none;
  mask-size: cover; // mask allow us to see background. (throught specified shape (mask-image))
}

.breadcrumbs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;

  @media only screen and (min-width: $bp-tablet) {
    margin-bottom: 2rem;
    padding: 0;
  }

  @media only screen and (min-width: $bp-desktop) {
    display: flex;
  }

  color: $color-black;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2rem;
  text-transform: uppercase;

  &__settings-icon-wrapper {
    border-radius: $border-radius;
    border: 2px solid $color-grey-light-1;
    padding: 1rem;
  }

  &__settings-icon {
    height: 1.6rem;
    width: 1.6rem;

    // We can't change color of icon when we adding it this way. So just leave this for older browsers
    background-image: url("../img/svg/equalizer.svg");
    background-position: center;
    background-size: cover;

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/equalizer.svg");
      -webkit-mask-size: cover;
      background-color: #575f66;
      background-image: none;
      mask-image: url("../img/svg/equalizer.svg");
      mask-size: cover;
    }
  }
}

.back-btn {
  @media only screen and (min-width: $bp-tablet) {
    display: none;
  }

  // We can't change color of icon when we adding it this way. So just leave this for older browsers
  background-image: url("../img/svg/arrow-left.svg");
  background-size: cover;
  height: 2.6rem;
  margin-right: 3rem;
  width: 2.6rem;

  @supports (-webkit-mask-image: url()) or (mask-image: url()) {
    -webkit-mask-image: url("../img/svg/arrow-left.svg");
    -webkit-mask-size: cover;
    background-color: $color-black;
    background-image: none;
    mask-image: url("../img/svg/arrow-left.svg");
    mask-size: cover;
  }
}

.path-and-settings {
  display: none;

  @media only screen and (min-width: $bp-tablet) {
    display: flex;
  }

  &__path--page {
    color: $color-grey-dark-2;
  }

  &__icon {
    background-size: cover;
    height: 1.6rem;
    margin-right: 3rem;
    width: 1.6rem;

    // We can't change color of icon when we adding it this way. So just leave this for older browsers
    background-image: url("../img/svg/home.svg");

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/home.svg");
      -webkit-mask-size: cover;
      background-color: $color-black;
      background-image: none;
      mask-image: url("../img/svg/home.svg");
      mask-size: cover;
    }
  }
}

.search-news {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $bp-tablet) {
    border-radius: $border-radius;
    overflow: hidden;
  }
  @media only screen and (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row;
  }
}

.search-news-main {
  align-items: center;
  color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 9rem 2.4rem;

  @media only screen and (min-width: $bp-desktop) {
    flex-basis: 0;
    flex-grow: 1;
    padding: 15rem 11rem;
  }

  background-image: url("../img/yellow_mountain.jpg");
  background-position: center;
  background-size: cover;

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 4.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__line {
    border: 2px solid $color-primary;
    height: 0;
    margin-top: 3rem;
    width: 4rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin: 3rem 0;
    max-width: 44rem;
    text-align: center;
    word-break: break-all;
  }

  &__author {
    margin-top: 3rem;
  }
}

.container-world-news-page-top {
  color: $color-grey-dark-2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;

  @media only screen and (min-width: $bp-desktop) {
    padding: 0 14rem 3rem 14rem;
  }

  @media only screen and (min-width: $bp-large-desktop) {
    padding: 0 32rem 4rem 32rem;
  }
}

.three-columns-section {
  border-top: 2px solid $color-grey-light-1;
  margin: 4rem 2.4rem;
  padding-top: 3rem;

  @media only screen and (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem 0rem;
  }

  &__col-1 {
    @media only screen and (min-width: $bp-tablet) {
      width: 56%;
    }

    @media only screen and (min-width: $bp-desktop) {
      width: 30%;
    }
  }

  &__col-2 {
    @media only screen and (min-width: $bp-tablet) {
      width: 45%;
    }
    @media only screen and (min-width: $bp-desktop) {
      width: 30%;
    }
  }

  &__col-3 {
    margin-top: 2rem;

    @media only screen and (min-width: $bp-tablet) {
      margin-top: 0;
      width: 45%;
    }
    @media only screen and (min-width: $bp-desktop) {
      width: 30%;
    }
  }

  &__col-3 > div:first-child {
    margin-top: 1rem;
  }
}

.image-and-two-text-block-section {
  border-top: 2px solid $color-grey-light-1;
  margin: 0rem 2.4rem 3rem;
  padding-top: 3rem;

  @media only screen and (min-width: $bp-tablet) {
    margin: 0rem 0rem 3rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  &__col-1 {
    background-image: url("../img/elephant.jpg");
    background-position: center;
    background-size: cover;
    min-height: 18rem;
    padding-top: 55.04%; /* Aspect Ratio */
    position: relative;
    width: 100%;

    @media only screen and (min-width: $bp-tablet) {
      min-height: 26rem;
      padding-top: 42.76%; /* Aspect Ratio */
    }

    @media only screen and (min-width: $bp-desktop) {
      width: 100%;
    }

    border-radius: $border-radius;
    overflow: hidden;
  }

  &__col-2 {
    margin: 2.4rem 0;
    @media only screen and (min-width: $bp-desktop) {
      width: 70%;
      padding-right: 3rem;
    }
  }

  &__col-3 {
    color: $color-black;
    font-size: 1.6rem;
    font-style: oblique;
    font-weight: 400;
    line-height: 3rem;

    @media only screen and (min-width: $bp-desktop) {
      margin: 2.4rem 0;
      width: 30%;
    }
  }
}

.pagination {
  border-top: 2px solid $color-grey-light-1;
  margin: 0rem 2.4rem 3rem; /* top | horizontal | bottom */
  padding-top: 3rem;

  @media only screen and (min-width: $bp-tablet) {
    margin: 0rem 0rem 3rem;
  }

  color: $color-grey-dark-2;
  font-size: 1.1rem;
  line-height: 2rem;

  &__ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__ul > li:not(:first-child) {
    margin-left: 1rem;
  }

  &__li {
    padding-bottom: 1rem;

    &--more {
      @include icon-box-settings;
      background-image: url("../img/svg/dots-three-horizontal.svg");
      margin-top: 2px;

      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        -webkit-mask-image: url("../img/svg/dots-three-horizontal.svg");
        @include support-settings;
        background-color: $color-black;
        mask-image: url("../img/svg/dots-three-horizontal.svg");
      }
    }
  }

  &__li--active {
    border-bottom: 2px solid $color-primary;
    color: $color-black;
    font-weight: bold;
  }
}

h2 {
  color: $color-black;
  font-family: "Acumin Pro";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.4rem;
  padding: 1.4rem 0 4rem;
  text-align: left;
}

.input-box {
  color: $color-black;
  font-family: "Acumin Pro";
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
  position: relative;
  text-align: left;

  &__title {
    margin-bottom: 1rem;
  }

  &__field {
    border-radius: $border-radius;
    border: 2px solid $color-grey-light-1;
    height: 4rem;
    margin-bottom: 4rem;
    padding: 1.4rem;
    width: 100%;
  }

  &__icon {
    background-size: cover;
    border: 2px solid red;
    height: 1.6rem;
    margin-right: 3rem;
    position: absolute;
    right: -1rem;
    top: 4rem;
    width: 1.6rem;
    z-index: 10;

    &--down {
      background-image: url("../img/svg/chevron-thin-down.svg");

      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        -webkit-mask-image: url("../img/svg/chevron-thin-down.svg");
        -webkit-mask-size: cover;
        background-color: $color-grey-dark-2;
        background-image: none;
        mask-image: url("../img/svg/chevron-thin-down.svg");
        mask-size: cover;
      }
    }
  }
}

.search-news-fields {
  &__btn {
    width: 15rem;
    text-align: center;
  }
  background-color: $color-white;
  padding: 4rem 2.4rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 8rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    flex-basis: 0;
    flex-grow: 1;
    padding: 12rem 11rem 14rem;
  }

  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.stories-block {
  @media only screen and (min-width: $bp-tablet) {
    padding: 6rem 8rem 8rem;
  }
  @media only screen and (min-width: $bp-desktop) {
    display: flex;
    padding: 10rem 14rem;
  }
}

.main-story {
  // top, transparent black, faked with gradient - instead of filter: brightness
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../img/parrot.jpg);
  background-size: cover;
  background-position: center;
  padding: 14rem 2.4rem 4rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 11rem 4rem 4rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    padding: 22.4rem 5rem 5rem;
  }

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-size: 5rem; // for desktop
    font-weight: bold;
    line-height: 4rem;
    line-height: 6rem; // for desktop
    text-align: center;
    text-transform: uppercase;
  }

  &__links {
    color: $color-white;
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: center;
    line-height: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;

    & > :first-child {
      margin-right: 4rem;
    }
  }

  &__bottom-section {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;

    @media only screen and (min-width: $bp-tablet) {
      margin-top: 11rem;
    }
  }
}

.next-story {
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: $bp-tablet) {
    border-radius: $border-radius;
    border: 2px dashed rgba($color-white, 0.5);
    padding: 2rem;
    width: 28.4rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    padding: 3rem;
    width: 36rem;
  }

  @media only screen and (min-width: $bp-large-desktop) {
    width: 44rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__right {
    align-items: center;
    display: flex;

    @media only screen and (min-width: $bp-desktop) {
      align-items: flex-start;
    }
  }

  &__next {
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    margin-right: 1rem;
    text-transform: uppercase;
  }

  &__icon {
    @include icon-box-settings;
    background-image: url("../img/svg/navigate_next.svg");
    margin-top: 2px;

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/navigate_next.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/navigate_next.svg");
    }
  }

  &__title {
    display: none;

    @media only screen and (min-width: $bp-tablet) {
      color: $color-white;
      display: inline-block;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2rem;
      padding-top: 0.5rem;
    }
  }

  &__text {
    display: none;

    @media only screen and (min-width: $bp-desktop) {
      color: $color-white;
      display: inline-block;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}

.author {
  align-items: center;
  display: flex;

  &__photo {
    border-radius: 50%;
    border: 2px solid $color-white;
    height: 2.8rem;
    object-fit: cover;
    object-position: 50% 50%;
    width: 2.8rem;

    @media only screen and (min-width: $bp-tablet) {
      height: 4rem;
      width: 4rem;
    }

    &--story {
      border: none;
      height: 4rem;
      width: 4rem;
    }
  }

  &__name {
    color: $color-white;
    display: none;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    margin-left: 2rem;

    @media only screen and (min-width: $bp-tablet) {
      display: inline-block;
    }

    &--story {
      color: $color-black;
      display: inline-block;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 4.2rem;
      text-align: left;
    }
  }
}

.main-story-link-1 {
  display: flex;
  &__icon {
    @include icon-box-settings;
    // We can't change color of icon when we adding it this way. So just leave this for older browsers
    background-image: url("../img/svg/earth.svg");

    // for newer browsers
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/earth.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/earth.svg"); // after 3 years mask-image, without prefix, still does not work in chrome
    }
  }

  &__text {
    margin-top: -2px;
  }
}

.main-story-link-2 {
  display: flex;
  &__icon {
    @include icon-box-settings;
    // We can't change color of icon when we adding it this way. So just leave this for older browsers
    background-image: url("../img/svg/file-text2.svg");

    // for newer browsers
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/file-text2.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/file-text2.svg"); // after 3 years mask-image, without prefix, still does not work in chrome
    }
  }

  &__text {
    margin-top: -2px;
  }
}

.text-only-stories {
  padding: 4rem 2.4rem 2.4rem;

  @media only screen and (min-width: $bp-tablet) {
    border-bottom: 2px solid $color-grey-light-1;
    padding-bottom: 2.4rem;
    padding: 0;

    @media only screen and (min-width: $bp-desktop) {
      border: none;
    }
  }

  @media only screen and (min-width: $bp-desktop) {
    border-right: 2px solid $color-grey-light-1;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 3rem;
  }
}

.text-only-story {
  @media only screen and (min-width: $bp-tablet) {
    align-items: flex-start;
    display: flex;
  }

  @media only screen and (min-width: $bp-desktop) {
    flex-direction: column;
  }

  &__title {
    color: $color-black;
    font-family: "Acumin Pro";
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 4.2rem;
    text-align: left;
  }

  &__text {
    color: $color-grey-dark-2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    padding: 2.4rem 0;
    text-align: left;

    @media only screen and (min-width: $bp-desktop) {
      padding-bottom: 0;
    }
  }

  &__col-1-of-2 {
    @media only screen and (min-width: $bp-tablet) {
      flex-basis: 0;
      flex-grow: 1;
      margin-right: 4rem;
    }
    @media only screen and (min-width: $bp-desktop) {
      margin-right: 0;
    }
  }

  &__col-2-of-2 {
    flex-basis: 0;
    flex-grow: 1;

    & {
      @media only screen and (min-width: $bp-desktop) {
        padding-bottom: 2.4rem;
      }
    }

    & > :first-child {
      border-bottom: 2px dashed $color-grey-light-1;
    }
  }
}

.video-story {
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  position: relative;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.stories {
  background-color: #f6f8f9;
  flex-basis: 0;
  flex-grow: 2;
  padding: 1rem 2.4rem 2.4rem 2.4rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 2.4rem 0 0 0;
  }

  @media only screen and (min-width: $bp-desktop) {
    padding: 0 0 0 4rem;
  }
}

.story {
  margin-bottom: 3.4rem;

  &__text {
    color: $color-black;
    font-size: 1.6rem;
    font-style: oblique;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 1rem;
    text-align: left;
  }
}
