.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    //border: 1px solid blue;
    width: 100%;
    align-items: center;
    background-color: $color-secondary;

    padding-top: .2rem;
    &__logo {
        text-transform: uppercase;
        color: $color-grey-dark-2;
        font-size: 1.3rem; 
        line-height: 2.0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        @media only screen and (min-width: $bp-tablet) {
            & {
                color: $color-primary;
            }
        }
    }

    @media only screen and (min-width: $bp-tablet) {
        & :nth-child(1) {
            order: 2;
        } 
        
        & :nth-child(3) {
            order: 2;
        }
    }
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: $color-black;
    height: 1.2px;
    width: 1rem; 

    @media only screen and (min-width: $bp-tablet) {
        & {
            display: none;
        }
    }

    &::before {
        content: "";
        display: block;
        background-color: $color-black;
        height: 1.2px;
        width: .6rem;
    }   
    
    &::after {
        content: "";
        display: block;
        background-color: $color-black;
        height: 1.2px;
        width: 1rem;
    }

    &::before {
        transform: translateY(-.45rem);
    }  
    
    &::after {
        transform: translateY(-.9rem);
    }
}

.logged-in-user {
    &__photo{
        //margin-right: 1rem;
        // height: 1.6rem; // 3rem on desktop
        // width: 1.6rem; // 3rem on desktop
        width: 16px;
        border-radius: 50%;

        max-width:100%;
        height:auto;

        @media only screen and (min-width: $bp-tablet) {
            width: 30px;
        }
    }
}