@mixin icon-box-settings {
    height: 1.6rem;
    width: 1.6rem;
    background-size: cover;
}

@mixin support-settings {
    -webkit-mask-size: cover; // this allowed us to change height and width from 2 px to 1px and icon still visible
    mask-size: cover; // mask allow us to see background. (throught specified shape (mask-image))
    background-image: none;
}

.social-networks {
    display: flex;
    justify-content: flex-end;

    & > div:not(:last-child) {
        margin-right: 3.2rem;
    }

    &__instagram
    {   
        @include icon-box-settings;
        // We can't change color of icon when we adding it this way. So just leave this for older browsers
        background-image: url('../img/instagram.svg');

        // for newer browsers 
        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/instagram.svg'); 
            mask-image: url('../img/instagram.svg'); // after 3 years mask-image, without prefix, still does not work in chrome
            @include support-settings;
        }
    } 
    
    &__twitter
    {
        @include icon-box-settings;
        background-image: url('../img/twitter.svg');

        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/twitter.svg'); 
            mask-image: url('../img/twitter.svg'); 
            @include support-settings;
        }
    }

    &__facebook
    {
        @include icon-box-settings;
        background-image: url('../img/facebook.svg');

        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/facebook.svg'); 
            mask-image: url('../img/facebook.svg'); 
            @include support-settings;
        }
    }

    &__web {
        @include icon-box-settings;
        background-image: url('../img/earth.svg');

        @supports(-webkit-mask-image: url()) or (mask-image: url())
        {
            background-color: $color-white; 
            -webkit-mask-image: url('../img/earth.svg'); 
            mask-image: url('../img/earth.svg'); 
            @include support-settings;
        }
    }
}
