@mixin icon-box-settings {
  background-size: cover;
  height: 1.6rem;
  width: 1.6rem;
}

@mixin support-settings {
  -webkit-mask-size: cover; // this allowed us to change height and width from 2 px to 1px and icon still visible
  background-image: none;
  mask-size: cover; // mask allow us to see background. (throught specified shape (mask-image))
}

.social-networks {
  display: flex;
  justify-content: flex-end;

  & > div:not(:last-child) {
    margin-right: 3.2rem;
  }

  &__instagram {
    @include icon-box-settings;
    // We can't change color of icon when we adding it this way. So just leave this for older browsers
    background-image: url("../img/svg/instagram.svg");

    // for newer browsers
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/instagram.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/instagram.svg"); // after 3 years mask-image, without prefix, still does not work in chrome
    }
  }

  &__twitter {
    @include icon-box-settings;
    background-image: url("../img/svg/twitter.svg");

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/twitter.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/twitter.svg");
    }
  }

  &__facebook {
    @include icon-box-settings;
    background-image: url("../img/svg/facebook.svg");

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/facebook.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/facebook.svg");
    }
  }

  &__web {
    @include icon-box-settings;
    background-image: url("../img/svg/earth.svg");

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      -webkit-mask-image: url("../img/svg/earth.svg");
      @include support-settings;
      background-color: $color-white;
      mask-image: url("../img/svg/earth.svg");
    }
  }
}
