.btn {
    background-color: $color-primary;
    color: white;
    border-radius: .5rem;
    border: none;
    //font-family: $font-display;
    //font-size: 1.1rem;
    font-size: 0.688rem;
    text-transform: uppercase;
    padding: .9rem 2.5rem;
    cursor: pointer;
    transition: all .2s;
    align-self: flex-start;

    &:hover {
        background-color: $color-primary;
    }
}