// COLORS
$color-primary: #FA6980;
$color-secondary: #f6f8f9; 
$color-white: #fff;
$color-black: #202124;

$color-secondary: #101d2c;

$color-grey-light-1: #EBEDED;
//$color-grey-light-2: #00000033; 

$color-grey-dark-1: #CBD0D3;
$color-grey-dark-2: #A6ADB4;

$font-family: 'Helvetica Neue', Arial, sans-serif;